spring:
  config:
    activate:
      on-profile: prod
  datasource:
    url: jdbc:mysql://neordinary-db.cxogcmkwq50i.ap-northeast-2.rds.amazonaws.com:3306/neordinary?useSSL=false
    username: admin
    password: admin1234

  jpa:
    database: mysql
    database-platform: org.hibernate.dialect.MySQLDialect
    generate-ddl: true
    hibernate:
      ddl-auto: update
    show_sql: true
springdoc:
  api-docs:
    path: /v3/api-docs
  swagger-ui:
    path: /swagger-ui.html
    disable-swagger-default-url: true
    operations-sorter: alpha
    tags-sorter: alpha